Package Configuration
[Package Name]
BE

[Install Location]
/var/www/html/IT490-Project/IT490Web/rabbitmqphp_example

[Services to restart(apache, databaseServer, mysql, DMZServer)(if none, say none)]
databaseServer

[Files]
session.php
SQLPublish.php
testRabbitMQClient.php
testRabbitMQServer.php
NewsAPIData.php
fetch_news.txt
databaseFunctions.php
