Package Configuration
[Package Name]
FE

[Install Location]
/var/www/html/IT490-Project/IT490Web/rabbitmqphp_example

[Services to restart(apache, databaseServer, mysql, DMZServer)(if none, say none)]
apache

[Files]
accountPreferences.php
article-history.php
createAccount.php
databaseFunctions.php
fetch_news.php
getArticleDetails.php
logout.php
mainMenu.php
nav.php
privateArticle.php
RatingAndPreference.php
SearchArticles.php
writeArticle.php